.footer {
    background-color: #212121;
    padding: 30px;
}

.head {
    text-align: center;
    font-size: 14px;
    color: #eeeeee;
    margin-top: -2px;
    margin-bottom: -2px;
}

.headBlock {
    margin-top: 15px;
}